.carInfo {
	display: grid;
	flex-direction: column;
}

div.pagination {
	display: flex;
	align-items: center;
	margin-top: 20px;
	justify-content: space-between;
}

div.pagination>div>span {
	margin: 0 3px;
}

div.pagination>div>div.pages {
	margin: 0 5px;
}

div.pagination>div>div.pages>span {
	margin: 0 3px;
}

div.pagination>div>span:hover,
div.pagination>div>div.pages>span{
	cursor: pointer;
	text-decoration: underline;
}

span.active {
	color: orangered;
	font-weight: bold;
}