body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr 3fr; /* Left and right columns */
    padding: 20px;
}

#loginform {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#loginform button {
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff; /* Blue color */
    color: white;
    font-size: 16px;
}

#loginform button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

#advertisement img {
    max-width: 100%; /* 이미지가 컨테이너 너비에 맞게 조정 */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 추가 */
}